<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dashboard</title>

<link type="text/css" rel="stylesheet" href="../Css/main.css">
<script type="text/javascript" src="../js/fusioncharts-suite-xt/js/fusioncharts.js"></script>
<script type="text/javascript" src="../js/fusioncharts-suite-xt/js/fusioncharts.charts.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="../js/bootstrap/css/bootstrap.css">
<script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/fusioncharts-jquery-plugin.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../Controller/genPanelSE.js"></script>

<style>
	.barchart{
		width:350px;
		height:200px;
		margin-top:94px;
		margin-left:auto;
		margin-right:auto;
	}
	.bulletbar{
		float:right;
		margin-top:10px;
		padding-right:10px;
		width:210px;
		height:74px;
	}
</style>
</head>
<body>
<!-- header -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<div id="colHead">
				<h4>Goal 2 S&T Core Capability and Clustering <br/> 
				- - - - - - - - - - - - - - - - - - - - - - - -<br/> 
				SK 2-High Impact Research  20 % </h4>
			</div>
		</div>
		<div class="span2"> 
			<div id="doughnut">doughnut2d</div>
		</div>
	</div>
	<!-- content -->	
	<div id=Content class="row-fluid">
	
		
		
	</div>
</div>

</body>
</html>